.form{
    display: block;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}

.form_input{
    display: block;
    height: 2em;
    padding: 0.4em 1em;
    border-radius: 0.5em 0 0 0.5em;
    border: none;
    font-size: inherit;
}

.form_button{
    font-size: inherit;
    display: block;
    height: 2em;
    padding: 0.4em 1em;
    border: none;
    width: 8em;
    border-radius: 0 0.5em 0.5em 0;
    background-color: rgb(36, 112, 36);
    color: white;
    font-weight: 700;
    &:hover{
        filter: brightness(1.4);
    }
}